@font-face {
    font-family: 'sf_ui_displayregular';
    src: url('../fonts/sfd/sfd-regular/sfdisplay-regular.eot');
    src: url('../fonts/sfd/sfd-regular/sfdisplay-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfd/sfd-regular/sfdisplay-regular.woff2') format('woff2'),
         url('../fonts/sfd/sfd-regular/sfdisplay-regular.woff') format('woff'),
         url('../fonts/sfd/sfd-regular/sfdisplay-regular.ttf') format('truetype'),
         url('../fonts/sfd/sfd-regular/sfdisplay-regular.svg#sf_ui_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_displaylight';
    src: url('../fonts/sfd/sfd-light/sfdisplay-light.eot');
    src: url('../fonts/sfd/sfd-light/sfdisplay-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfd/sfd-light/sfdisplay-light.woff2') format('woff2'),
         url('../fonts/sfd/sfd-light/sfdisplay-light.woff') format('woff'),
         url('../fonts/sfd/sfd-light/sfdisplay-light.ttf') format('truetype'),
         url('../fonts/sfd/sfd-light/sfdisplay-light.svg#sf_ui_displaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_displaybold';
    src: url('../fonts/sfd/sfd-bold/sfdisplay-bold.eot');
    src: url('../fonts/sfd/sfd-bold/sfdisplay-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfd/sfd-bold/sfdisplay-bold.woff2') format('woff2'),
         url('../fonts/sfd/sfd-bold/sfdisplay-bold.woff') format('woff'),
         url('../fonts/sfd/sfd-bold/sfdisplay-bold.ttf') format('truetype'),
         url('../fonts/sfd/sfd-bold/sfdisplay-bold.svg#sf_ui_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_ui_displaythin';
    src: url('../fonts/sfd/sfd-thin/sfdisplay-thin.eot');
    src: url('../fonts/sfd/sfd-thin/sfdisplay-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfd/sfd-thin/sfdisplay-thin.woff2') format('woff2'),
         url('../fonts/sfd/sfd-thin/sfdisplay-thin.woff') format('woff'),
         url('../fonts/sfd/sfd-thin/sfdisplay-thin.ttf') format('truetype'),
         url('../fonts/sfd/sfd-thin/sfdisplay-thin.svg#sf_ui_displaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}



// Core variables and mixins
@import "components/vars";

@import "components/body";

@import "components/header";




.layout{
	display: table;
	table-layout: fixed;
  	height: 100%;
  	width: 100%;
  	overflow-x: hidden;
}


h1{
	font-size: 68px;
	margin: 0;
	margin-bottom: 35px;
	font-family: 'sf_ui_displaythin', sans-serif;
	font-weight: normal;
    font-style: normal;
}

h2{
	font-size: 60px;
	margin: 0;
	margin-bottom: 35px;
	font-family: 'sf_ui_displaythin', sans-serif;
	font-weight: normal;
    font-style: normal;
}

h3{
	margin: 0;
	margin-bottom: 35px;
	font-family: 'sf_ui_displaythin', sans-serif;
	font-weight: normal;
    font-style: normal;
}

input[type="text"],
input[type="email"],
input[type="password"]{
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	background: transparent;
	border: 0;
	border-bottom: 1px solid rgba(255,255,255, 0.2);
	padding: 1px 0;
	transition: all 0.3s ease;
	&:focus{
		border-bottom: 1px solid #E86449;
	}
}

.btn{
	display: inline-block;
	color: #fff;
	border: 0;
	background-color: #E86449;
	border-radius: 22px;
	padding: 10px 30px;
	transition:all 0.3s ease;
	&:hover{
		background: linear-gradient(180deg, #E86449 0%, #C31945 100%);
		transition:all 0.3s ease;
	}
}

.wrapper{
	display: table-row;
	height: 100%;
}
.container-fluid{
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
	width: 100%;
}


.page-content{
	display: table-cell;
	height: 100%;
}


.page-top{
	background: linear-gradient(180deg, #C31945 0%, rgba(195,25,69,0.6) 100%);
	position: relative;
}

.page-top-slider{
	margin-top: -126px;
	//padding-top: 241px;
	
	.slick-track {
	    display: flex;
	}
}

.page-top-slider__item{
	padding-top: 241px;
	padding-bottom: 211px;
	height: inherit!important;
	&.slick-current{
		.page-top-slider__bg{
			animation: imageAnimation 36s linear infinite 0s;
		}		
	}
}

@keyframes imageAnimation { 
	0% {
	    animation-timing-function: ease-in;
	}
	25% {
	    transform: scale(1.03);
	}
	50% {
	    transform: scale(1.05);
	}
	75% {
	    transform: scale(1.07);
	}
	100% { 
		transform: scale(1.08);
	}
}


.page-top-slider__bg{
	//opacity: 0;
	//transform: scale(1.05);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition:all 0.3s linear;
	&:before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: linear-gradient(180deg, #E86449 0%, #C31945 100%);
		opacity: 0.6;
	}
	
}

.page-top-slider__title{
	font-size: 60px;
	max-width: 700px;
	margin-bottom: 35px;
	font-family: 'sf_ui_displaythin', sans-serif;
	line-height: 1.05;
}



.page-top-slider-pager{
	//margin-bottom: 120px;
	ul{
		margin: 0;
		padding: 0;
		list-style-type: none; 
		display: flex;
	}
}


.page-top-slider-pager__item{
	//list-style-type: none;
	position: relative;
	border: 1px solid #FFFFFF;
	border-radius: 22px;
	margin-right: 20px;
	background: transparent;
	transition:background 0.3s ease;
	&:last-child{
		margin-right: 0;
	}
	&:hover{
		background: #fff;
		a{
			color: #32161A;
		}
	}
	&.active{
		background: #fff;
		a{
			color: #32161A;
		}
	}
	a{
		color: #fff;
		padding: 9px 33px;
		display: block;
	}
}


.page-top-slider-info{
	display: flex;
	margin-top: 120px;
}

.page-top-slider-info__item{
	margin-right: 2px;
	background: rgba(50, 22, 26, 0.2);
	padding: 28px 31px 19px 18px;
	font-size: 14px;
	line-height: 1;
	&:last-child{
		margin-right: 0;
	} 
	span{
		font-size: 44px;
		font-family: 'sf_ui_displaylight', sans-serif;
		letter-spacing: -3px;
		margin-right: 5px;
	}
}

.page-top-slider-progress-wrap{
	padding: 0 30px; 
	display: block;
	height: 2px;
	position: absolute;
	bottom: 2px;
	width: calc(100% - 50px);
	left: 25px;
}

.page-top-slider-progress{
	position: absolute;
	left: 0;
	top: 0;
	background: #fff;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.page-top-slider-pager__item.active{
	.page-top-slider-progress{
		width: 0%;
		background: #E86449;
		opacity: 1;
	}
}

.page-form-wrap{
    max-width: 1430px;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
        text-align: right;
    z-index: 5;
    pointer-events: none;
    padding-top: 83px;

    transition: all 0.3s ease;
    height: calc(100% + 200px);
    overflow: hidden;
	&.is_stuck{
		padding-top: 0;
		top: 0!important;
		position: fixed!important;
	}
}

.page-form{
	padding: 32px 48px;
	background: rgba(50,22,26,0.6);
	width: 399px;
	//height: 100vh;
	    display: inline-block;
    pointer-events: all;
    text-align: left;
    position: relative;
    &:after{
    	content: "";
    	display: block;
    	width: 100%;
    	height: 500%;
    	background: rgba(50,22,26,0.6);
    	position: absolute;
    	top: 100%;
    	left: 0;
    }
}

.page-form__title{
	font-size: 30px;
	font-family: 'sf_ui_displaythin', sans-serif;
	    margin-bottom: 38px;
    line-height: 1.2;
}



.page-card-wrap{
    max-width: 680px;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    left: 50%;
    //padding-top: 504px;
    transform: translateX(-50%);
        text-align: right;
    z-index: 5;
    pointer-events: none;
    height: 100%;
    //padding-top: 83px;
    //transition: all 0.3s ease;
	&.is_stuck{
		//padding-top: 0;
		//transition: all 0.3s ease;
		position: fixed!important;
		.page-card{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			margin: 0;
		}
	}
}

.page-card__inner{
	height: 100%;
    position: relative;
}
.page-card{
	transition: all 0.25s linear, transform 0.25s, margin 0.5s;
	right: 0;
	top: 0;
	position: relative;
	top: 400px;
}


.input-wrap{
	margin-bottom: 40px;
	line-height: 1;
}
.input-wrap--error{
	input[type="text"],
	input[type="email"],
	input[type="password"]{
		border-bottom: 1px solid #E86449;
	}
}
.input-title{
	font-size: 14px;
	&.input-title--error{
		color: 	#E86449;
	}
}


.page-form-submit{
	padding-left: 110px;
}

.page-form-submit__btn{
	cursor: pointer;
}




.switch {
	position: relative;
	label{
		display: block;
		color: #fff;
		cursor: pointer;
		font-size: 14px;
		padding-left: 40px;
		position: relative;
		top: -2px;
		&:hover{
			a{
				color: #fff!important;
			}
		}
	}
	input{
		position: absolute;
		top: 0;
		z-index: 2;
		opacity: 0;
		cursor: pointer;
		height: 12px;
    	width: 23px;
		margin: 0;
		&:checked{
			z-index: 1;
		}
		&:hover{
			&+label{
				&+.toggle-outside{
					.toggle-inside{
						transform: scale(1.15);
					}
				}
			}
			&+input{
				&+label{
					&+.toggle-outside{
						.toggle-inside{
							transform: scale(1.15);
						}
					}
				}
			}
		}
	}
	a{
		color: #E86449!important;
	}
}

.toggle-outside {
	height: 12px;
	border-radius: 10px;
	transition: 0.25s ease all;
	background: rgba(255,255,255,0.3);
	position: absolute;
	width: 23px;
	top: 0;
	&:hover{
		.toggle-inside{
			transform: scale(1.15);
		}
	}
}
.toggle-inside {
	border-radius: 50%;
	background: #fff;
	position: absolute;
	transition: 0.25s ease all;
	height: 16px;
 	width: 16px;
 	margin-top: -2px;
 	&:hover{
 		
 	}
}

.switch input:checked ~ .toggle-outside .toggle-inside {
 	left: 0;
 	&:before{
 		content: "";
 		display: inline-block;
 		width: 12px;
 		height: 10px;
 		background: url(../img/svg/agree.svg) no-repeat;
 		position: absolute;
		left: 2px;
		top: 3px;
 	}
}
.switch input ~ input:checked ~ .toggle-outside .toggle-inside {
 	left: 8px;
 	&:before{
 		content: "";
 		display: inline-block;
 		width: 9px;
 		height: 9px;
 		background: url(../img/svg/notagree.svg) no-repeat;
 		position: absolute;
		left: 4px;
		top: 4px;
 	}
}










.how{
	background: linear-gradient(179deg, rgb(196, 28, 69) 0%, rgb(231, 98, 73) 100%); 
	padding: 40px 0 76px; 
	position: relative;
	h2{
		margin-bottom: 64px;
	}
	&:after{
		content: "";
		display: block;
		width: 100%;
		position: absolute;
		bottom: 100%;
		left: 0;
	 	//box-shadow: inset 0 -327px 350px -50px rgba(197, 34, 68, 1);
		//box-shadow: inset 0 -327px 350px -50px #0a1e15;
		background: linear-gradient(0deg, #c51e45 0%, rgba(0, 0, 0,0) 100%);
		height: 300px;
		overflow: hidden;
	}
}

_::-webkit-full-page-media, _:future, :root .how:after{
	content: "";
    background: linear-gradient(0deg, #c51e45 0%, rgba(195, 25, 69, 0) 100%);
}




.how-steps{
	max-width: 517px;
	padding: 0;
	margin: 0; 
	counter-reset: list;
}


.how-steps__item{
	padding-left: 110px;
	margin-bottom: 52px;
	list-style-type: none;
	position: relative;
	line-height: 1.2;
	&:last-child{
		margin-bottom: 0;
	}
	&:before{
		counter-increment: list;
		content: counters(list, ".");
		position: absolute;
		left: 0px;
		top: -4px;
		font-size: 44px;
		line-height: 1;
		font-family: 'sf_ui_displaylight',sans-serif;
		color: #fff;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background: rgba(50,22,26, 0.2);
		background-position: center;
		display: flex;
		align-items:center;
		justify-content:center;
		border: 1px solid transparent;
		transition:all 0.3s ease; 
	}
	&.active{
		&:before{
			border: 1px solid #fff;
			text-indent: -9999em;
			font-size: 0;
			background: transparent url(../img/svg/active.svg) center no-repeat;
		}
	}
}

.how-steps__title{
	font-size: 30px;
	font-family: 'sf_ui_displaybold',sans-serif;
	margin-bottom: 16px;
	
}

.how-steps__txt{
	color: rgba(255,255,255,0.7);
}

.registration{
	background: #ECDEB6;
	padding: 41px 0 95px;
	color: #32161A;
	h2{
		margin-bottom: 32px;
	}
}
.registration__wrap{
	max-width: 550px;
}

.registration__info{
	max-width: 480px;
}

.partners{
	background: #fff;
	padding: 60px 0 50px;
}

.partners__list{
	display: flex;
	align-items:center;
	max-width: 880px;
}

.partners__item{
	width: 16.6666%;
	   //  display: flex;
    // justify-content: center;
    padding: 0 10px;
	&:first-child{
		text-align: left;
	}
	img{
		max-width: 100%;
		display:block;
		margin: 0 auto;
	}
}

.page-form-mobile{
	display: none;
	    position: fixed;
    bottom: 0;
    width: 100%;
	.page-form{
		display: none;
		padding: 15px;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
			background: rgba(50, 22, 26, 0.9);
		&:after{
			display: none;
		}
	}
	.page-form-submit {
	    padding-left: 0;
	    text-align: right;
	}
}

.page-form-mobile__toggle{
	padding: 15px;
	text-align: right;
	background: rgba(50, 22, 26, 0.6);
	position: relative;
}	

.page-form-mobile__card{
    width: 200px;
    height: 130px;
    background: url(../img/content/card.png);
    background-size: cover;
    position: absolute;
    left: 15px;
    bottom: 0;
}

.page-form__close{
	position: absolute;
	right: 10px;
	top: 10px;
	display: inline-block;
	width: 16px;
	height: 16px;
	opacity: 0.6;
	background: url(../img/svg/close.svg) no-repeat;
	background-size: cover;
	transition: opacity 0.3s ease;
	&:hover{
		opacity: 1;
	}
}

@import "components/footer";

@import "components/media";





