@font-face {
  font-family: 'sf_ui_displayregular';
  src: url("../fonts/sfd/sfd-regular/sfdisplay-regular.eot");
  src: url("../fonts/sfd/sfd-regular/sfdisplay-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sfd/sfd-regular/sfdisplay-regular.woff2") format("woff2"), url("../fonts/sfd/sfd-regular/sfdisplay-regular.woff") format("woff"), url("../fonts/sfd/sfd-regular/sfdisplay-regular.ttf") format("truetype"), url("../fonts/sfd/sfd-regular/sfdisplay-regular.svg#sf_ui_displayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sf_ui_displaylight';
  src: url("../fonts/sfd/sfd-light/sfdisplay-light.eot");
  src: url("../fonts/sfd/sfd-light/sfdisplay-light.eot?#iefix") format("embedded-opentype"), url("../fonts/sfd/sfd-light/sfdisplay-light.woff2") format("woff2"), url("../fonts/sfd/sfd-light/sfdisplay-light.woff") format("woff"), url("../fonts/sfd/sfd-light/sfdisplay-light.ttf") format("truetype"), url("../fonts/sfd/sfd-light/sfdisplay-light.svg#sf_ui_displaylight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sf_ui_displaybold';
  src: url("../fonts/sfd/sfd-bold/sfdisplay-bold.eot");
  src: url("../fonts/sfd/sfd-bold/sfdisplay-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sfd/sfd-bold/sfdisplay-bold.woff2") format("woff2"), url("../fonts/sfd/sfd-bold/sfdisplay-bold.woff") format("woff"), url("../fonts/sfd/sfd-bold/sfdisplay-bold.ttf") format("truetype"), url("../fonts/sfd/sfd-bold/sfdisplay-bold.svg#sf_ui_displaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'sf_ui_displaythin';
  src: url("../fonts/sfd/sfd-thin/sfdisplay-thin.eot");
  src: url("../fonts/sfd/sfd-thin/sfdisplay-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/sfd/sfd-thin/sfdisplay-thin.woff2") format("woff2"), url("../fonts/sfd/sfd-thin/sfdisplay-thin.woff") format("woff"), url("../fonts/sfd/sfd-thin/sfdisplay-thin.ttf") format("truetype"), url("../fonts/sfd/sfd-thin/sfdisplay-thin.svg#sf_ui_displaythin") format("svg");
  font-weight: normal;
  font-style: normal; }

/*FONT-FAMILY*/
/*FONT-SIZE*/
/*BACKGROUND*/
/*TEXT-COLOR*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*:focus {
  outline: none;
  -moz-outline-style: none; }

:-moz-any-link:focus {
  outline: 1px dotted invert; }

:-moz-any-link:focus {
  outline: none; }

textarea, input {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  text-decoration: none; }
  a:not([class]) {
    color: #058ACD; }
    a:not([class]):hover {
      color: #056493; }

body {
  margin: 0;
  height: 100%;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  font-family: "sf_ui_displayregular", Arial, sans-serif;
  color: #fff; }

textarea, input {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

::-webkit-input-placeholder {
  color: #a5a8ab;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

::-moz-placeholder {
  color: #a5a8ab;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

:-moz-placeholder {
  color: #a5a8ab;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

:-ms-input-placeholder {
  color: #a5a8ab;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus::-moz-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }

:focus:-ms-input-placeholder {
  color: transparent; }

.page-header {
  padding: 50px 0 30px;
  position: relative;
  z-index: 4; }

.top-logo {
  width: 226px;
  height: 41px;
  background: url(../img/svg/logo.svg) no-repeat;
  display: inline-block; }

.page-change {
  margin-left: 105px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-top: -25px; }

.page-change__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-border-radius: 22px;
          border-radius: 22px;
  border: 1px solid #FFFFFF;
  color: #fff;
  padding: 9px 33px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .page-change__link span:after {
    content: "";
    display: inline-block;
    width: 13px;
    height: 8px;
    background: url(../img/svg/arrow.svg) no-repeat;
    margin-left: 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    top: -1px; }
  .page-change__link:hover {
    color: #E86449;
    background: #fff; }
    .page-change__link:hover span:after {
      background: url(../img/svg/arrow-h.svg) no-repeat; }
  .page-change__link.active span:after {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.page-change__list {
  position: absolute;
  background: #fff;
  padding: 0px 11px;
  min-width: 100%;
  margin-top: 8px;
  display: none; }
  .page-change__list:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -2px; }

.page-change__item {
  display: block;
  border-bottom: 1px solid #DED6C3;
  color: #32161A;
  padding: 10px;
  text-align: center;
  white-space: nowrap; }
  .page-change__item:last-child {
    border-bottom: 0; }
  .page-change__item:hover {
    color: #E86449; }

.layout {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

h1 {
  font-size: 68px;
  margin: 0;
  margin-bottom: 35px;
  font-family: 'sf_ui_displaythin', sans-serif;
  font-weight: normal;
  font-style: normal; }

h2 {
  font-size: 60px;
  margin: 0;
  margin-bottom: 35px;
  font-family: 'sf_ui_displaythin', sans-serif;
  font-weight: normal;
  font-style: normal; }

h3 {
  margin: 0;
  margin-bottom: 35px;
  font-family: 'sf_ui_displaythin', sans-serif;
  font-weight: normal;
  font-style: normal; }

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-bottom: 1px solid #E86449; }

.btn {
  display: inline-block;
  color: #fff;
  border: 0;
  background-color: #E86449;
  -webkit-border-radius: 22px;
          border-radius: 22px;
  padding: 10px 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#E86449), to(#C31945));
    background: linear-gradient(180deg, #E86449 0%, #C31945 100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.wrapper {
  display: table-row;
  height: 100%; }

.container-fluid {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  width: 100%; }

.page-content {
  display: table-cell;
  height: 100%; }

.page-top {
  background: -webkit-gradient(linear, left top, left bottom, from(#C31945), to(rgba(195, 25, 69, 0.6)));
  background: linear-gradient(180deg, #C31945 0%, rgba(195, 25, 69, 0.6) 100%);
  position: relative; }

.page-top-slider {
  margin-top: -126px; }
  .page-top-slider .slick-track {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.page-top-slider__item {
  padding-top: 200px;
  padding-bottom: 211px;
  height: inherit !important; }
  .page-top-slider__item.slick-current .page-top-slider__bg {
    -webkit-animation: imageAnimation 36s linear infinite 0s;
            animation: imageAnimation 36s linear infinite 0s; }

@-webkit-keyframes imageAnimation {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  25% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03); }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  75% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07); }
  100% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08); } }

@keyframes imageAnimation {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  25% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03); }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  75% {
    -webkit-transform: scale(1.07);
            transform: scale(1.07); }
  100% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08); } }

.page-top-slider__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .page-top-slider__bg:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#E86449), to(#C31945));
    background: linear-gradient(180deg, #E86449 0%, #C31945 100%);
    opacity: 0.6; }

.page-top-slider__title {
  font-size: 60px;
  max-width: 700px;
  margin-bottom: 35px;
  font-family: 'sf_ui_displaythin', sans-serif;
  line-height: 1.05; }

.page-top-slider-pager ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.page-top-slider-pager__item {
  position: relative;
  border: 1px solid #FFFFFF;
  -webkit-border-radius: 22px;
          border-radius: 22px;
  margin-right: 20px;
  background: transparent;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease; }
  .page-top-slider-pager__item:last-child {
    margin-right: 0; }
  .page-top-slider-pager__item:hover {
    background: #fff; }
    .page-top-slider-pager__item:hover a {
      color: #32161A; }
  .page-top-slider-pager__item.active {
    background: #fff; }
    .page-top-slider-pager__item.active a {
      color: #32161A; }
  .page-top-slider-pager__item a {
    color: #fff;
    padding: 9px 33px;
    display: block; }

.page-top-slider-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px; }

.page-top-slider-info__item {
  margin-right: 2px;
  background: rgba(50, 22, 26, 0.2);
  padding: 28px 31px 19px 18px;
  font-size: 14px;
  line-height: 1; }
  .page-top-slider-info__item:last-child {
    margin-right: 0; }
  .page-top-slider-info__item span {
    font-size: 44px;
    font-family: 'sf_ui_displaylight', sans-serif;
    letter-spacing: -3px;
    margin-right: 5px; }

.page-top-slider-progress-wrap {
  padding: 0 30px;
  display: block;
  height: 2px;
  position: absolute;
  bottom: 2px;
  width: -webkit-calc(100% - 50px);
  width: calc(100% - 50px);
  left: 25px; }

.page-top-slider-progress {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  opacity: 0; }

.page-top-slider-pager__item.active .page-top-slider-progress {
  width: 0%;
  background: #E86449;
  opacity: 1; }

.page-form-wrap {
  max-width: 1430px;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: right;
  z-index: 5;
  pointer-events: none;
  padding-top: 83px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: -webkit-calc(100% + 200px);
  height: calc(100% + 200px);
  overflow: hidden; }
  .page-form-wrap.is_stuck {
    padding-top: 0;
    top: 0 !important;
    position: fixed !important; }

.page-form {
  padding: 32px 48px;
  background: rgba(50, 22, 26, 0.6);
  width: 399px;
  display: inline-block;
  pointer-events: all;
  text-align: left;
  position: relative; }
  .page-form:after {
    content: "";
    display: block;
    width: 100%;
    height: 500%;
    background: rgba(50, 22, 26, 0.6);
    position: absolute;
    top: 100%;
    left: 0; }

.page-form__title {
  font-size: 30px;
  font-family: 'sf_ui_displaythin', sans-serif;
  margin-bottom: 38px;
  line-height: 1.2; }

.page-card-wrap {
  max-width: 680px;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(300px);
      -ms-transform: translateX(-50%) translateY(300px);
          transform: translateX(-50%) translateY(300px);
  text-align: right;
  z-index: 5;
  pointer-events: none; }
  .page-card-wrap.is_stuck {
    position: fixed !important;
    height: 100%;
    -webkit-transform: translateX(-50%) translateY(0%);
        -ms-transform: translateX(-50%) translateY(0%);
            transform: translateX(-50%) translateY(0%); }
    .page-card-wrap.is_stuck .page-card {
      -webkit-transform: translateY(35vh);
          -ms-transform: translateY(35vh);
              transform: translateY(35vh); }

.page-card__inner {
  height: 100%;
  position: relative; }

.page-card {
  -webkit-transition: all 0.25s linear, margin 0.5s, -webkit-transform 0.25s;
  transition: all 0.25s linear, margin 0.5s, -webkit-transform 0.25s;
  transition: all 0.25s linear, transform 0.25s, margin 0.5s;
  transition: all 0.25s linear, transform 0.25s, margin 0.5s, -webkit-transform 0.25s; }

.input-wrap {
  margin-bottom: 40px;
  line-height: 1; }

.input-wrap--error input[type="text"],
.input-wrap--error input[type="email"],
.input-wrap--error input[type="password"] {
  border-bottom: 1px solid #E86449; }

.input-title {
  font-size: 14px; }
  .input-title.input-title--error {
    color: #E86449; }

.page-form-submit {
  padding-left: 110px; }

.page-form-submit__btn {
  cursor: pointer; }

.switch {
  position: relative; }
  .switch label {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding-left: 40px;
    position: relative;
    top: -2px; }
    .switch label:hover a {
      color: #fff !important; }
  .switch input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    height: 12px;
    width: 23px;
    margin: 0; }
    .switch input:checked {
      z-index: 1; }
    .switch input:hover + label + .toggle-outside .toggle-inside {
      -webkit-transform: scale(1.15);
          -ms-transform: scale(1.15);
              transform: scale(1.15); }
    .switch input:hover + input + label + .toggle-outside .toggle-inside {
      -webkit-transform: scale(1.15);
          -ms-transform: scale(1.15);
              transform: scale(1.15); }
  .switch a {
    color: #E86449 !important; }

.toggle-outside {
  height: 12px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-transition: 0.25s ease all;
  transition: 0.25s ease all;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  width: 23px;
  top: 0; }
  .toggle-outside:hover .toggle-inside {
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15); }

.toggle-inside {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff;
  position: absolute;
  -webkit-transition: 0.25s ease all;
  transition: 0.25s ease all;
  height: 16px;
  width: 16px;
  margin-top: -2px; }

.switch input:checked ~ .toggle-outside .toggle-inside {
  left: 0; }
  .switch input:checked ~ .toggle-outside .toggle-inside:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 10px;
    background: url(../img/svg/agree.svg) no-repeat;
    position: absolute;
    left: 2px;
    top: 3px; }

.switch input ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 8px; }
  .switch input ~ input:checked ~ .toggle-outside .toggle-inside:before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 9px;
    background: url(../img/svg/notagree.svg) no-repeat;
    position: absolute;
    left: 4px;
    top: 4px; }

.how {
  background: linear-gradient(179deg, #c41c45 0%, #e76249 100%);
  padding: 40px 0 76px;
  position: relative; }
  .how h2 {
    margin-bottom: 64px; }
  .how:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#c51e45), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(0deg, #c51e45 0%, rgba(0, 0, 0, 0) 100%);
    height: 300px;
    overflow: hidden; }

_::-webkit-full-page-media, _:future, :root .how:after {
  content: "";
  background: -webkit-gradient(linear, left bottom, left top, from(#c51e45), to(rgba(195, 25, 69, 0)));
  background: linear-gradient(0deg, #c51e45 0%, rgba(195, 25, 69, 0) 100%); }

.how-steps {
  max-width: 517px;
  padding: 0;
  margin: 0;
  counter-reset: list; }

.how-steps__item {
  padding-left: 110px;
  margin-bottom: 52px;
  list-style-type: none;
  position: relative;
  line-height: 1.2; }
  .how-steps__item:last-child {
    margin-bottom: 0; }
  .how-steps__item:before {
    counter-increment: list;
    content: counters(list, ".");
    position: absolute;
    left: 0px;
    top: -4px;
    font-size: 44px;
    line-height: 1;
    font-family: 'sf_ui_displaylight',sans-serif;
    color: #fff;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: rgba(50, 22, 26, 0.2);
    background-position: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .how-steps__item.active:before {
    border: 1px solid #fff;
    text-indent: -9999em;
    font-size: 0;
    background: transparent url(../img/svg/active.svg) center no-repeat; }

.how-steps__title {
  font-size: 30px;
  font-family: 'sf_ui_displaybold',sans-serif;
  margin-bottom: 16px; }

.how-steps__txt {
  color: rgba(255, 255, 255, 0.7); }

.registration {
  background: #ECDEB6;
  padding: 41px 0 95px;
  color: #32161A; }
  .registration h2 {
    margin-bottom: 32px; }

.registration__wrap {
  max-width: 550px; }

.registration__info {
  max-width: 480px; }

.partners {
  background: #fff;
  padding: 60px 0 50px; }

.partners__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 880px; }

.partners__item {
  width: 16.6666%;
  padding: 0 10px; }
  .partners__item:first-child {
    text-align: left; }
  .partners__item img {
    max-width: 100%;
    display: block;
    margin: 0 auto; }

.page-form-registration {
  display: none; }
  .page-form-registration .page-form {
    padding: 20px 0 0;
    height: 100%;
    width: 100%;
    background: transparent; }
    .page-form-registration .page-form:after {
      display: none; }
  .page-form-registration .page-form-submit {
    padding-left: 0;
    text-align: right; }
  .page-form-registration input[type="text"],
  .page-form-registration input[type="email"],
  .page-form-registration input[type="password"] {
    border-bottom: 1px solid rgba(50, 22, 26, 0.2);
    color: #000; }
  .page-form-registration .switch label {
    color: #000; }
  .page-form-registration .toggle-outside {
    background: rgba(0, 0, 0, 0.2); }

.page-form-mobile__toggle {
  padding: 15px;
  text-align: right;
  background: rgba(50, 22, 26, 0.6);
  position: relative; }

.page-form-mobile__card {
  width: 200px;
  height: 130px;
  background: url(../img/content/card.png);
  background-size: cover;
  position: absolute;
  left: 15px;
  bottom: 0; }

.page-form__close {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 0.6;
  background: url(../img/svg/close.svg) no-repeat;
  background-size: cover;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }
  .page-form__close:hover {
    opacity: 1; }

.page-form-mobile {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 15; }
  .page-form-mobile .page-form {
    display: none;
    padding: 15px;
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    background: #32161a; }
    .page-form-mobile .page-form:after {
      display: none; }
  .page-form-mobile .page-form-submit {
    padding-left: 0;
    text-align: right; }

.page-footer {
  background: #fff;
  color: #32161A; }

.page-footer__wrap {
  max-width: 880px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #DED6C3;
  padding: 38px 0; }

.page-footer__copyright {
  font-size: 14px;
  max-width: 500px;
  line-height: 1.2; }

.page-footer__logo {
  width: 221px;
  min-width: 221px;
  height: 72px;
  background: url(../img/content/mtbank.png) no-repeat;
  background-size: cover;
  margin-right: 109px; }

@media screen and (min-width: 1024px) {
  .page-form-mobile {
    display: none !important; } }

@media screen and (max-width: 1400px) {
  .page-card__inner {
    padding-right: 28px; } }

@media screen and (max-width: 1350px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px; }
  .page-form-submit {
    padding-left: 0;
    text-align: right; }
  .page-form__title {
    font-size: 24px; }
  .page-form {
    padding: 15px 12px;
    width: 300px; }
  .page-card__inner {
    text-align: right; }
  .page-card {
    width: 360px;
    display: inline-block; }
    .page-card img {
      max-width: 100%; } }

@media screen and (max-width: 1300px) {
  .page-top-slider-info__item span {
    font-size: 38px; } }

@media screen and (max-width: 1200px) {
  .page-top-slider-info__item span {
    font-size: 34px; }
  .page-card__inner {
    padding-right: 85px; }
  .page-card {
    width: 315px; }
  .page-top-slider__title {
    font-size: 48px; }
  h1 {
    font-size: 48px; }
  h2 {
    font-size: 48px; }
  .how-steps__title {
    font-size: 24px; }
  .how-steps__txt {
    font-size: 14px; }
  .how-steps__item:before {
    font-size: 32px;
    width: 60px;
    height: 60px; }
  .how-steps__item {
    padding-left: 75px; }
  .btn {
    padding: 7px 17px;
    font-size: 14px; }
  .partners {
    padding-right: 320px; }
  .page-footer__wrap {
    width: -webkit-calc(100% - 320px);
    width: calc(100% - 320px); }
  .page-top-slider-info {
    max-width: 480px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .page-top-slider-info__item {
    margin-bottom: 2px; }
  .how-steps {
    max-width: -webkit-calc(100% - 635px);
    max-width: calc(100% - 635px); } }

@media screen and (max-width: 1100px) {
  .page-card__inner {
    padding-right: 135px; }
  .registration__info {
    max-width: 380px; } }

@media screen and (max-width: 1023px) {
  .page-form-wrap,
  .page-card-wrap {
    display: none; }
  .how-steps {
    max-width: 100%; }
  .registration__info {
    max-width: 100%; }
  .registration__wrap {
    max-width: 100%; }
  .page-form-registration {
    display: block; }
  .layout {
    position: relative; }
  .partners {
    padding-right: 0; }
  .page-footer__wrap {
    width: 100%; }
  .page-top-slider-info {
    max-width: 100%; }
  .registration__info {
    max-width: 100%; }
  .registration {
    padding: 40px 0; }
  .page-form-mobile {
    display: block; } }

@media screen and (max-width: 850px) {
  .partners__item {
    padding: 0 7px; }
  .page-footer__logo {
    margin-right: 45px; }
  .btn {
    font-size: 18px; } }

@media screen and (max-width: 768px) {
  .partners__list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .partners__item {
    width: 33.3333%;
    margin-bottom: 20px;
    text-align: center; }
  .partners__item:first-child {
    text-align: center; }
  h1 {
    font-size: 44px;
    margin-bottom: 20px;
    line-height: 1; }
  h2 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1; }
  h3 {
    margin-bottom: 20px;
    line-height: 1; }
  .page-top-slider__title {
    font-size: 44px; }
  .registration {
    padding: 20px 0; }
  .registration h2 {
    margin-bottom: 20px; }
  .how {
    padding: 30px 0; }
  .how h2 {
    margin-bottom: 20px; }
  .how-steps__item {
    margin-bottom: 25px; }
    .how-steps__item:last-child {
      margin-bottom: 0; }
  .how-steps__title {
    font-size: 24px; }
  .top-logo {
    width: 137px;
    height: 25px;
    background: url(../img/svg/logo.svg) no-repeat;
    background-size: contain; }
  .page-header {
    padding: 30px 0; }
  .page-top-slider {
    margin-top: -90px; }
  .page-top-slider__item {
    padding-top: 100px;
    padding-bottom: 140px; }
  .page-top-slider-pager {
    margin-bottom: 0; }
  .page-top-slider-info {
    margin-top: 0; }
  .page-top-slider-pager ul {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .page-top-slider-info__item span {
    font-size: 30px; }
  .page-top-slider-info__item {
    padding: 15px 10px 19px 10px; }
  .page-top-slider-pager__item {
    margin-bottom: 30px; }
  .page-top-slider-pager__item a {
    padding: 5px 15px; }
  .page-top-slider-info {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .page-top-slider-info__item {
    margin-bottom: 2px; }
  .page-top-slider-progress-wrap {
    padding: 0;
    width: 70%;
    left: 15%; }
  .how:after {
    height: 170px; }
  .page-change__link {
    padding: 6px 13px; }
  .page-change {
    margin-left: 30px;
    margin-top: -20px; } }

@media screen and (max-width: 600px) {
  .page-footer__logo {
    margin-right: 0; }
  .page-footer__wrap {
    padding: 25px 0;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .page-footer__logo {
    width: 156px;
    min-width: 156px;
    height: 51px;
    margin-bottom: 15px; }
  .page-top-slider-pager__item {
    margin-right: 10px;
    margin-bottom: 20px; }
  .page-top-slider-pager__item a {
    padding: 3px 10px; }
  .page-top-slider-info__item span {
    font-size: 24px; }
  .page-top-slider-info__item {
    width: 100%;
    padding: 10px 10px 13px 10px;
    margin-right: 0; }
  .page-change__link {
    padding: 4px 20px; }
  .page-change__link span:after {
    margin-left: 4px; }
  .page-change {
    margin-left: 20px;
    margin-top: -15px; }
  .page-top-slider__title {
    font-size: 30px;
    margin-bottom: 15px; }
  .page-top-slider__item {
    padding-top: 75px; }
  .page-top-slider {
    height: 100vh; }
    .page-top-slider .slick-list,
    .page-top-slider .slick-track {
      height: 100%; } }

@media screen and (max-width: 400px) {
  .page-form-mobile__card {
    width: 107px;
    height: 80px; }
  .top-logo {
    width: 110px;
    height: 21px; }
  .page-form-mobile .page-form {
    padding-top: 40px; } }

@media screen and (max-width: 350px) {
  .page-change__link {
    padding: 4px 3px; }
  .page-change {
    margin-left: 7px; } }
