

/*FONT-FAMILY*/
$default-font: 'sf_ui_displayregular', Arial, sans-serif;

/*FONT-SIZE*/
$default-size-font: 18px;

/*BACKGROUND*/
$default-site-bg: #fff;

//$default-bg: #eeeeee;

/*TEXT-COLOR*/
$base-color: #fff;

$alternate-color: #ff0109;
